#!/bin/sh

# server configuration variable
# OPTIONAL VARIABLES
export SERVER_PORT=7000 # default to 3000
export JSON_PARSER_LIMIT=20mb # default to 20mb

# JWT AUTHNETIFICATION
export JWT_SECRET=secret
export JWT_ACCESS_EXPIRESIN=15m
export JWT_REFRESH_EXPIRESIN=1h

# SONARQUBE
export SONARQUBE_URL=http://localhost:9000
export SONARQUBE_PROJECT_KEY=coog-cloud-agent
export SONARQUBE_TOKEN=xxx
SONARQUBE_REPO="$(pwd)"
export SONARQUBE_REPO
